<div class="col-12" style="min-height: 100%">
    <div class="card top-selling overflow-auto" style="min-height: 100%">
      <div class="card-body pb-0" style="min-height: 100%">
        <h5 class="card-title">Requests <span>| Month</span></h5>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">DoctorId</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
              <th scope="col">Created time</th>
              <th scope="col">Change status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of requests">
              <td>{{ request.username }}</td>
              <td>{{ request.phone }}</td>
              <td>{{ request.email }}</td>
              <td class="fw-bold">
                {{ request.createdAt.split("T")[0] }}
              </td>
              <td>
                <!-- Dropdown for changing status -->
                <select
                  class="form-select"
                  [(ngModel)]="request.isSuspended"
                  (ngModelChange)="openConfirmationModal(request)"
                >
                  <option [ngValue]="false">Approve</option>
                  <option [ngValue]="true">Suspend</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  