/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
  }

  .text-color {
    color: #012970;
  }

  .logo{
    font-size: 26px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-left: 10px;
  }
  
  @media (max-width: 1199px) {
    #main {
      padding: 20px;
    }
  }