
.wewe{
    width: 100%;
    min-width: 900px;
    min-height: 900px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #012970;

}

#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
  }
  
  @media (max-width: 1199px) {
    #main {
      padding: 20px;
    }
  }
  