<div class="col-12" style="min-height: 100%">
  <div class="card top-selling overflow-auto" style="min-height: 100%">
    <div class="card-body pb-0" style="min-height: 100%">
      <h5 class="card-title">Appointments <span>| Today</span></h5>

      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">patientId</th>
            <th scope="col">phone</th>
            <th scope="col">email</th>
            <th scope="col">city</th>

            <th scope="col">day</th>
            <th scope="col">time</th>
            <th scope="col">change status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointments">
            <td>{{ appointment.patient.username }}</td>
            <td>{{ appointment.phone }}</td>
            <td>{{ appointment.email }}</td>
            <td>{{ appointment.city }}</td>
            <td class="fw-bold">{{ appointment.date.split("T")[0] }}</td>
            <td>{{ appointment.timePicked }}</td>
            <td>
              <!-- Dropdown for changing status -->
              <select
                class="form-select"
                [(ngModel)]="appointment.status"
                (ngModelChange)="openConfirmationModal(appointment)"
              >
                <option value="pending">Pending</option>
                <option value="confirm">Confirm</option>
                <option value="decline">Decline</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
